.clients {
  padding: 140px 0;
  background: #012F34;
  background-image: url("../../../images/clients-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 660px) top;
}

.clients__title {
  margin: 0;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media only screen and (min-width:769px) and (max-width:1000px){

  .clients-item>a>img {
    width: 100%;
    max-width: 150x;
    height: 100%;
    max-height: 20px;
  }

}

@media only screen and (max-width:768px) {

  .clients{
    padding: 100px 0;
  }

  .clients__title {
    font-size: 32px;
    line-height: 32px;
  }

  .clients__list {
    flex-wrap: wrap;
  }

  .clients-item>a>img {
    width: 100%;
    max-width: 103px;
    height: 100%;
    max-height: 17px;
  }

}

@media only screen and (max-width:576px) {

  .clients__title{
    margin-bottom: 64px;
  }
  

  .clients__list {
    flex-direction: column;
  }

  .clients-item + .clients-item{
    margin-top: 57px;
  }

  .clients-item>a>img {
    width: 100%;
    max-width: 160px;
    height: 100%;
    max-height: 25px;
  }
}