.container{
  width: 100%;
  max-width: 1440px;
  padding: 0 165px;
  margin: 0 auto;
}

@media only screen and (min-width:950px) and (max-width:1050px) {
  .container{
    padding: 0 100px;
  }
}

@media only screen and (min-width:769px) and (max-width:949px) {
  .container{
    padding: 0 60px;
  }
}

@media only screen and (max-width:768px) {
  .container{
    padding: 0 40px;
  }
}

@media only screen and (max-width:576px) {
  .container{
    padding: 0 24px;
  }
}