.container{
   width: 100%;
   max-width: 1440px;
   padding: 0 165px;
 }
 
 @media only screen and (max-width:768px) {
   .container{
     padding: 0 40px;
   }
 }
 
 @media only screen and (max-width:576px) {
   .container{
     padding: 0 24px;
   }
 }